<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <style>
        body {padding: 40px;}
        p {margin: 20px 0px 2px 0px;}
        .read_only {border: none; font-weight: bold;}
    </style>
    <title>SEJ</title>
</head>
<body>
    <h2>MemberUpdate</h2>
    <form action="/member/update" method="post">
        <p>번호</p>
        <input type="text" id="memberId" name="memberId" th:value="${member.memberId}" readonly class="read_only" />
        <p>이메일</p>
        <input type="text" id="memberEmail" name="memberEmail" th:value="${member.memberEmail}" readonly class="read_only" />
        <p>비밀번호</p>
        <input type="text" id="memberPassword" name="memberPassword" th:value="${member.memberPassword}" readonly class="read_only" />
        <p>이름</p>
        <input type="text" id="memberName" name="memberName" th:value="${member.memberName}" />
        <p>전화번호</p>
        <input type="text" id="memberPhone" name="memberPhone" th:value="${member.memberPhone}" />
        <input type="submit" value="저장" style="display: block; margin-top: 20px" />
    </form>
</body>
</html>